<mat-card>
    <mat-toolbar>
        Criar clientes
    </mat-toolbar>
    <mat-card-content>
        <form [formGroup]="form" class="min-width">
            <mat-form-field class="full-width">
                <input matInput placeholder="Nome" formControlName="name">
            </mat-form-field>

            <mat-form-field class="full-width">
                <input matInput placeholder="cpf" formControlName="cpf">
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="accent" (click)="onSubmit()">Salvar</button>
        <button mat-raised-button color="warn" (click)="onCancel()">Cancelar</button>
    </mat-card-actions>
</mat-card>